*{
    box-sizing: border-box;
}

:root{
    --border-color: #e3e5e4;

}

#order_of_encounter_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

.draggable-list {
    border: 1px solid var(--border-color);
    color: #fff;
    padding: 0;
    list-style: none;
}

.draggable-list li {
    display: flex;
    flex: 1;
}

.draggable-list li:not(:last-of-type){
    border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
}

.draggable-list .encounter-type

.draggable-list li.over .draggable {
    background-color: lightgray;
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    flex: 1;
}


table, th, td {
    border: 1px solid white;
    color: white;

  }

label {
    color: white;   
}

