{% extends "index.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/style.css">
{{ super() }}
<title>Login</title>
{% endblock %}
</head>
{% block content %}
<div id="login" class="form-container">
  <h1 class="header">Log In</h1>
  <br>
  <form method="post" action="/login_form">
    <div id="email" class="form-group" data-step="1">
      <label for="email-input">Enter Your Email</label>
      <input type="text" class="form-control" id="email-input" name="email-input">
    </div>
    <div id="password" class="form-group final" data-step="2">
      <label for="password-input">Enter Your Password</label>
      <input type="password" id="password-input" class="form-control" name="password-input">
    </div>
    <p id="error-message"></p>
    <button type="submit" id="next-button" class="btn btn-primary">Next</button>
  </form>
  <div id="back-button">&#8592;</div>
  <div class="info-section">
    <p>Don't have an account yet?</p>
    <a href="/staff_registration_route">Register as New User</a>
  </div>
</div>

<script src="../static/js/login.js"></script>
{% endblock %}