{% extends "index.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/research_protocol.css">
<link rel="stylesheet" href="../static/css/add_research_protocol.css">
{{ super() }}
<title>
    Add Encounter Type
</title>
{% endblock %}
{% block content %}
<div>
    <div id="protocol_parameters">
        <form method="POST" action="/add_encounter_type" enctype="multipart/form-data">
            <label for="name_of_encounter_type">Name of Encounter Type</label><br>
            <input type="text" name="name_of_encounter_type" id="name_of_encounter_type"> <br><br>
            <label for="duration">Duration of Encounter</label> <br>
            <input type="number" name="duration" id="duration"><br><br>
            <label for="duration_metric">Duration of Encounter</label> <br>
            <select name="duration_metric" id="duration_metric">
                <option value="minutes">Minutes</option>
                <option value="hours">Hour(s)</option>
            </select>
            <br><br>
            <label for="encounter_type">Encounter Type</label><br>
            <input type="text" name="encounter_type" id="encounter_type"><br><br>
            <input type="submit">
        </form>
        <br><br><br><br>
    </div>


    <div id="back-button">&#8592;</div>
</div>
</div>
<!-- <script src="../static/js/add_research_protocol.js"></script> -->
{% endblock %}