<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nav-bar.css">

    <title>Scheduler</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a class="btn btn-warning m-2 d-block" role="button" href="/">Schedule Grouped Appointments (multiple providers
            - 1 day)</a>
        <a class="btn btn-dark m-2 d-block" role="button" href="">Schedule by Provider</a>
        <a class="btn btn-dark m-2 d-block" role="button" href="">Schedule by Room Availability</a>
        <a class="btn btn-dark m-2 d-block" role="button" href="">Patient To Do List</a>
        <a class="btn btn-primary m-2 d-block" role="button" href="/">Schedule PSG</a>
        <a class="btn btn-dark m-2 d-block" role="button" href="">Schedule EEG</a>
        <div class="dropdown">
            <button class="dropbtn">More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="btn btn-secondary m-2 d-block" role="button" href="/add_patient_route">Add Patient</a>
                <a class="btn btn-info m-2 d-block" role="button" href="/add_research_protocol_route">Add Research
                    Protocol</a>
                <a class="btn btn-light m-2 d-block" role="button" href="/reports_route">Run Report</a>
                <a class="btn btn-light m-2 d-block" role="button" href="/patient_chart">Go To Patient Chart</a>
            </div>
        </div>

</body>

</html>